<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>BasketChampionnat</display-name>

    <!-- Filtre d'authentification -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>EquipeServlet</servlet-name>
        <servlet-class>servlet.EquipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EquipeServlet</servlet-name>
        <url-pattern>/equipes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoueurServlet</servlet-name>
        <servlet-class>servlet.JoueurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoueurServlet</servlet-name>
        <url-pattern>/joueurs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>servlet.MatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/matchs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClassementServlet</servlet-name>
        <servlet-class>servlet.ClassementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassementServlet</servlet-name>
        <url-pattern>/classement</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Page d'accueil -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Pages d'erreur -->
    <error-page>
        <error-code>404</error-code>
        <location>/pages/erreur.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/pages/erreur.jsp</location>
    </error-page>

</web-app>



