<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>BasketChampionnat</display-name>

    <servlet>
        <servlet-name>EquipeServlet</servlet-name>
        <servlet-class>servlet.EquipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EquipeServlet</servlet-name>
        <url-pattern>/EquipeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoueurServlet</servlet-name>
        <servlet-class>servlet.JoueurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JoueurServlet</servlet-name>
        <url-pattern>/JoueurServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>servlet.MatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/MatchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>







